.pagination-wrapper{
    height:82px;
    text-align: center;
}
.page-list{
   float: right;
    padding: 20px 0 30px;
}
.page-end,.page-start,.page-trigger{
    display: inline-block;
    height:30px;
    line-height: 30px;
    padding: 0 15px;
    margin: 0 2px;
    font-size: 14px;
    background: #f5f5f5;
    color: #333;
    font-family: verdana;
}
.page-trigger:hover {
    text-decoration: none;
}
.page-trigger:hover  span{
    text-decoration: none;
}
.page-end b,.page-start b ,.page-trigger b{
    font-family: simsun;
    display: inline-block;
    text-align: center;
    width: 15px;
}
.page-end span, .page-start span ,.page-trigger span{
    font-weight: 700;
    font-family: "microsoft yahei";
}
.page-end span, .page-start span, .page-end b, .page-start b{
    color: #AAA;
}
.page-cur{
    display: inline-block;
    height:30px;
    line-height: 30px;
    padding: 0 15px;
    margin: 0 2px;
    font-size: 14px;
    background-color: #74aed2;
    color: #FFF;
}
.page-skip input{
    width:30px;
    height:28px;
    line-height: 28px;
    border: 1px solid #f5f5f5;
    display:inline-block;
    text-align: center;
}
.page-skip a{
    height:28px;
    line-height: 28px;
    border: 1px solid #e6e6e6;
    background: #f3f3f3;
    border-bottom: 1px solid #cecece;
    border-radius: 2px;
    display: inline-block;
    padding: 0 20px;
    color: #666;
    font-size: 14px;
    margin-left: 10px;
}
.page-skip a:hover{
    color: #333;
    text-decoration: none;
}