<% include header%>
<link rel="stylesheet" href="css/demo.css">
	<div class="sidebar">
		<ul>
			<li></li>
			<li></li>
			<li></li>
			<li></li>
		</ul>
	</div>
	<div class="content clearfix">
		<div class="demo-item">demo</div>
		<div class="demo-item">demo</div>
		<div class="demo-item">demo</div>
		<div class="demo-item">demo</div>
		<div class="demo-item">demo</div>
	</div>
<% include footer%>


