<div class="kc-footer">
	<div class="inner">
		<div class="bg-line"></div>
		<i></i>
		<ul class="type-list">
			<li class="linechart">折线图</li>
			<li class="barchart">柱状图</li>
			<li class="barchart2">横向柱状图</li>
			<li class="piechart">饼图</li>
			<li class="grid">表格</li>
			<li class="sumdetail">画报</li>
			<li class="scatterchart">散点图</li>
			<li class="radar">雷达图</li>
			<li class="timeline">时间线</li>
			<li class="dashboard">仪表盘</li>
			<li class="mapchart">地图</li>
		</ul>
		<span class="powerby">
			Powered by Kissy 数据可视化小组 <a target="_blank" href="http://www.miitbeian.gov.cn/">浙ICP备14003274号</a> <script type="text/javascript">var cnzz_protocol = (("https:" == document.location.protocol) ? " https://" : " http://");document.write(unescape("%3Cspan id='cnzz_stat_icon_5806286'%3E%3C/span%3E%3Cscript src='" + cnzz_protocol + "s13.cnzz.com/stat.php%3Fid%3D5806286%26show%3Dpic' type='text/javascript'%3E%3C/script%3E"));</script>
		</span>
	</div>
</div>
</body>
</html>