<% include header%>


<div style="height:40px"></div>
<div class="floor">
	<div id="demo1" class="graph">

	</div>
	<div class="info">
		<h1>Line charts<h1>
			<p>
Line graphs are probably the most widely used graph for showing trends.
KCharts has a ton of customisation features for line graphs, along with support for multiple datasets to be plotted on one chart.
			</p>
	</div>
</div>


<div class="floor">
	<div class="info">
		<h1>Bar charts<h1>
			<p>
Bar graphs are also great at showing trend data.</p>
<p>
	KCharts supports bar charts with a load of custom styles and the ability to show multiple bars for each x value.
			</p>
	</div>
	<div id="demo2" class="graph">

	</div>
</div>



<div class="floor">
	<div id="demo3" class="graph">

	</div>
	<div class="info">
		<h1>Scatter charts<h1>
			<p>
Scatter graphs are also great at showing trend data.</p>
<p>
	KCharts supports bar charts with a load of custom styles and the ability to show multiple bars for each x value.
			</p>
	</div>
</div>


<div class="floor">
	<div class="info">
		<h1>LargeData charts<h1>
			<p>
Bar graphs are also great at showing trend data.</p>
<p>
	KCharts supports bar charts with a load of custom styles and the ability to show multiple bars for each x value.
			</p>
	</div>
	<div id="demo4" class="graph">
	
	</div>
</div>


<div class="floor">
	<div id="J_Pie1" class="graph">

	</div>
	<div class="info">
		<h1>Pie charts<h1>
			<p>
Pie graphs are also great at showing trend data.</p>
<p>
	KCharts supports bar charts with a load of custom styles and the ability to show multiple bars for each x value.
			</p>
	</div>
</div>

<script src="js/index.js"></script>
<% include footer%>